.custom-number-input {
  display: flex;
  align-items: center;
  height: 35px;
  width: 120px;
  margin-top: 3px;
  font-size: 18px;
  margin-right: 5px;
  text-align: center;
  border: 1px solid #222;
  border-radius: 0.5em;
  background-color: #444;
  color: white;
}
